body {
  margin: 0;
  /* padding: 0.5rem; */
}


.bg-nephritis {
  background: #27ae60;
}
.fg-white {
  color: #fff;
}

.with-before:before {
  content: "---";
}

.with-after:after {
  content: "***";
}

.test-first-letter:first-letter {
  font-size: 1.2em;
  color: #599;
}

.test-first-line:first-line {
  font-size: 1.2em;
  color: #559;
}
